$darkColor      : #282D31;

$breakPoints : (
    s: 320px,
    m: 640px,
    l: 1024px,
    xl: 1400px
);

// Variables de apilamineto z-index

$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;


// Varialbles de tipografia

:root {
    --h1-font-size : 1.4rem;
    --h2-font-size : 1.3rem;
    --h3-font-size : 1.1rem;
    --body-font-size: 1rem; 
    --small-font-size: 0.825rem;
    
    @include from(m) {
        --h1-font-size : 1.8rem;
        --h2-font-size : 1.5rem;
        --h3-font-size : 1.35rem;
        --body-font-size: 1rem; 
        --small-font-size: 0.875rem;
    }

    @include from(l) {
        --h1-font-size : 2rem;
        --h2-font-size : 1.8rem;
        --h3-font-size : 1.55rem;
        --body-font-size: 1rem; 
        --small-font-size: 0.875rem;
    }
}