.footer {
    grid-area: footer;
    // background: #343A40;
    display: grid;
    grid-template-areas: "redes"
                         "footerTexto";
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;             
}

.footer-texto {
    background: #343A40;
    grid-area: footerTexto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes {
    background: white;
    grid-area: redes;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-texto {
    color:#343A40;
    margin: 0;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .footer-texto {
    color: white;
    margin: 0;
    @media screen and (max-width:580px) {
       font-size: .8rem;
       text-align: center;
    }
}
