.content {
    grid-area: content;

    display: grid;
    grid-template-areas: "menuVertical hero";
    grid-template-columns: 30% 1fr;
    grid-template-rows: 275px;


    @media screen and (max-width:780px) {
        grid-template-areas: "menuVertical"
                             "hero";
        grid-template-columns: 1fr;
        grid-template-rows:  auto 1fr;
    }
}

.menuVertical {
    grid-area: menuVertical;
    // margin-top: 20px;
}

.hero {
    grid-area: hero;
    height: 275px;
    width: 100%;
    line-height: 0;
    font-size: 0;
    // margin-top: 20px;
}

.hero .hero-image {
    min-width: 100%;
    height: 100%;
    display    : block;
    object-fit : cover;
}

ul {
    padding: 0;
    margin: 0;
}

.menu-vertical {
    width: 100%;
    height: 277px;
    overflow-y: auto;
    background: white;
    display: none;
   @media screen and (min-width:780px) {
        // background: #F0F0F5;
   }
}

.menu-vertical li a {
    color: rgb(42, 47, 51);
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #e0dcdc;
    font-family: 'Sofia', cursive;
    font-family: 'Coming Soon', cursive;
    font-family: 'Lemonada', cursive;
    font-size: .9rem;
    text-align: center;
}
.menu-vertical li a:hover {
    background: rgb(187, 191, 194);
}

.ocultar {
    display: none;
}

.menu-vertical ul > li a {
    background: rgb(221, 221, 221);
    padding-left: 30px;
    text-align: center;
}


.menu-vertical .active-vertical > a {
    background: rgb(187, 191, 194);
}

.menu-toggle {
    width: 100%;
    height: 50px;
    background: white;
    display: flex;
    align-items: center;
}
/* media query */

@media screen and (min-width:780px) {
    .menu-vertical {
        display: block;
    }
    .menu-toggle {
        display: none;
    }
}

.nuestroP {
    font-family: 'Lemonada', cursive;
    @media screen and (max-width:580px) {
        font-size: .8rem;
    }
}