.toggle {
    width: 1.8rem;
    height: 1.25rem;
    cursor: pointer;
    background: linear-gradient($darkColor 20%, 
                                transparent 20%, transparent 40%,
                                $darkColor 40%, $darkColor 60%,
                                transparent 60%, transparent 80%,
                                $darkColor 80%, $darkColor 100%
                                );
}

.toggleC {
    height: 50px;
    display: flex;
    align-items: center;
}

.nuestroP {
    padding-left: 20px;
    text-align: center;
}
