@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Princess+Sofia|Sofia&display=swap');
@import url('https://fonts.googleapis.com/css?family=Coming+Soon&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lemonada&display=swap');

*,
*:before,
*:after {
  	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	line-height: 1.6;
	font-size: var(--body-font-size);
	overflow-x: hidden;
}
img {
  	max-width: 100%;
  	height: auto;
}
li {
	list-style: none;
}

a {
 	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
}
h1 {
	font-size: var(--h1-font-size);
}

h2 {
	font-size: var(--h2-font-size);
}

h3 {
	font-size: var(--h3-font-size);
}
